html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

section{
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-top: 84px;
}

.hero{
    align-content: center;
    padding: 32px;
    height: auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 12px;
}

.nombre{
    font-size: 72px;
    line-height: 100%;
    text-align: center;
}

.profesion{
    font-size: 36px;
    line-height: 120%;
}

.bio{
    font-size: 14px;
    line-height: 150%;
}

.enlace-proyecto{
    color: black;
    text-decoration: none;
}

.enlace-proyecto:hover{
    color: rgb(74, 74, 156);
    text-decoration: underline;
}

.proyecto{
    padding: 16px;
    border: 1px ;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: antiquewhite;
}



.experencia{
    padding: 16px;
    border: 1px ;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: antiquewhite;
}

.titulo-experencia{
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 50%;
}
.fecha-experencia{
    font-size: 10px;
    font-weight: normal;
    text-align: end;
}

.habilidad{
    width: fit-content;
    padding-bottom: 25px;

}
.habilidad p{
    width: fit-content;
    border: 1px;
    border-radius: 25px;
    padding: 10px;
    margin: 0%;
    background-color: lightblue;
}
.envoltura-habilidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 25px;
}

footer a{
    color:lightblue;
    text-decoration: none;
}