---
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
---

<Layout>
	<h1>{meData.nombre}</h1>
	<h2>{meData.profesion}</h2>
	<p>{meData.biografía}</p>
	<p>{meData.experencia}</p>
	<p>{meData.habilidades}</p>
</Layout>
